<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}" method="patch">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" th:field="*{firstName}" required />
  <br />
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" th:field="*{lastName}" required />
  <br />
  <label for="roles">Roles:</label>
  <select th:field="*{roles}" multiple>
    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}" th:selected="${user.roles.contains(role)}"></option>
  </select>
  <br />
  <button type="submit">Update User</button>
</form>
<a href="/admin">Back to Admin Index</a>
</body>
</html>
