<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin Index</title>
</head>
<body>
<h1>Admin Index</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Username</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${usersList}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <a th:href="@{/admin/{id}/edit(id=${user.id})}">Edit</a>
      <a th:href="@{/admin/{id}(id=${user.id})}" th:onclick="'return confirm(\'Are you sure?\')'">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/admin/new">Add New User</a>
</body>
</html>
